@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
td{
  font-family: "Poppins", sans-serif !important;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.custom-modal .modal-content {
  width: 60vw; /* Adjust the width as needed */
  
  height: 90vh; /* Adjust the height as needed */
  border-radius: 0;
  
  
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 60% !important;
      margin-right: auto;
      margin-left: auto;
  }
}